th{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.no-selected{
  background-color: rgb(208, 208, 208) !important;
  color: #3c3c3c !important;
}

.selected{
  background-color: #d4edda !important;
  color: #3c3c3c !important;
}